<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/css/library.css"/>

    <title>Author Overview</title>
</head>
<body>
<h1>Overview of authors</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th># of books</th>
    </tr>
    <tr th:each="author: ${allAuthors}">
        <td th:text="${author.authorId}" />
        <td th:text="${author.name}" />
        <td th:text="${author.numberOfBooks}" />
        <td></td>

    </tr>

</table>

<h1>Create a new author</h1>
<form th:action="@{/author/add}" th:object="${author}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /></p>

</form>

<p>
    <a th:href="@{/books}">Book overview</a>
</p>

</body>
</html>