<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Overview</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th># of copies</th>
            <th>Buy new copy</th>
        </tr>
        <tr th:each="book: ${allBooks}">
            <td th:text="${book.bookId}" />
            <td th:text="${book.title}" />
            <td th:text="${book.author.name}" />
            <td th:text="${book.noCopies}" />
            <td><a th:href="@{/copy/add/{bookId}(bookId=${book.bookId})}">Add</a></td>
        </tr>

    </table>

    <p>
    <a th:href="@{/books/add}">Add book</a>
    </p>

    <p>
    <a th:href="@{/authors}">Author overview</a>
    </p>
</body>
</html>